In [2]:
import numpy as np
import pandas as pd
import geopandas
import geopy

In [55]:
Companies = pd.read_csv("Companyinfo_2000-2021.csv")
Companies.to_csv ('Companyinfo_2000-2021.csv', index = False, header=True)
Location = pd.read_csv("Location_final.csv")
Location
Companies.reset_index(drop=True, inplace=True)
Location.reset_index(drop=True, inplace=True)

In [56]:
Companies

,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,tic,conm,curcd,costat,add1,addzip,city,fyrc,cyear
0,1004,20000531,1999.0,INDL,C,D,STD,AIR,AAR CORP,USD,A,"One AAR Place, 1100 North Wood Dale Road",60191,Wood Dale,5,2000
1,1004,20010531,2000.0,INDL,C,D,STD,AIR,AAR CORP,USD,A,"One AAR Place, 1100 North Wood Dale Road",60191,Wood Dale,5,2001
2,1004,20020531,2001.0,INDL,C,D,STD,AIR,AAR CORP,USD,A,"One AAR Place, 1100 North Wood Dale Road",60191,Wood Dale,5,2002
3,1004,20030531,2002.0,INDL,C,D,STD,AIR,AAR CORP,USD,A,"One AAR Place, 1100 North Wood Dale Road",60191,Wood Dale,5,2003
4,1004,20040531,2003.0,INDL,C,D,STD,AIR,AAR CORP,USD,A,"One AAR Place, 1100 North Wood Dale Road",60191,Wood Dale,5,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255401,345980,20151231,2015.0,INDL,C,D,STD,WISH,CONTEXTLOGIC INC,USD,A,"One Sansome Street, 40th Floor",94104-4418,San Francisco,12,2015
255402,345980,20161231,2016.0,INDL,C,D,STD,WISH,CONTEXTLOGIC INC,USD,A,"One Sansome Street, 40th Floor",94104-4418,San Francisco,12,2016
255403,345980,20171231,2017.0,INDL,C,D,STD,WISH,CONTEXTLOGIC INC,USD,A,"One Sansome Street, 40th Floor",94104-4418,San Francisco,12,2017
255404,345980,20181231,2018.0,INDL,C,D,STD,WISH,CONTEXTLOGIC INC,USD,A,"One Sansome Street, 40th Floor",94104-4418,San Francisco,12,2018
255405,345980,20191231,2019.0,INDL,C,D,STD,WISH,CONTEXTLOGIC INC,USD,A,"One Sansome Street, 40th Floor",94104-4418,San Francisco,12,2019

In [57]:
Location

         tic   longitude   latitude
0      JALSQ  139.723678  35.626070
1       UDI.  -80.844257  35.223631
2       ACEE  -88.066005  43.171143
3       AIRT  -81.038442  35.544505
4       EGN1  -86.807429  33.520286
...      ...         ...        ...
26542  CSTPF  -87.001674  34.601979
26543    ACA  -96.800212  32.784463
26544   CTRM   33.047380  34.675145
26545   IMUX  -73.981481  40.758058
26546   WISH -122.401955  37.797070

[26547 rows x 3 columns]

In [58]:
Companies = Companies.merge(Location, on = 'tic',how='outer')
Companies

,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,tic,conm,curcd,costat,add1,addzip,city,fyrc,cyear,longitude,latitude
0,1004,20000531,1999.0,INDL,C,D,STD,AIR,AAR CORP,USD,A,"One AAR Place, 1100 North Wood Dale Road",60191,Wood Dale,5,2000,10.612850,56.304543
1,1004,20010531,2000.0,INDL,C,D,STD,AIR,AAR CORP,USD,A,"One AAR Place, 1100 North Wood Dale Road",60191,Wood Dale,5,2001,10.612850,56.304543
2,1004,20020531,2001.0,INDL,C,D,STD,AIR,AAR CORP,USD,A,"One AAR Place, 1100 North Wood Dale Road",60191,Wood Dale,5,2002,10.612850,56.304543
3,1004,20030531,2002.0,INDL,C,D,STD,AIR,AAR CORP,USD,A,"One AAR Place, 1100 North Wood Dale Road",60191,Wood Dale,5,2003,10.612850,56.304543
4,1004,20040531,2003.0,INDL,C,D,STD,AIR,AAR CORP,USD,A,"One AAR Place, 1100 North Wood Dale Road",60191,Wood Dale,5,2004,10.612850,56.304543
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255401,345980,20151231,2015.0,INDL,C,D,STD,WISH,CONTEXTLOGIC INC,USD,A,"One Sansome Street, 40th Floor",94104-4418,San Francisco,12,2015,-122.401955,37.797070
255402,345980,20161231,2016.0,INDL,C,D,STD,WISH,CONTEXTLOGIC INC,USD,A,"One Sansome Street, 40th Floor",94104-4418,San Francisco,12,2016,-122.401955,37.797070
255403,345980,20171231,2017.0,INDL,C,D,STD,WISH,CONTEXTLOGIC INC,USD,A,"One Sansome Street, 40th Floor",94104-4418,San Francisco,12,2017,-122.401955,37.797070
255404,345980,20181231,2018.0,INDL,C,D,STD,WISH,CONTEXTLOGIC INC,USD,A,"One Sansome Street, 40th Floor",94104-4418,San Francisco,12,2018,-122.401955,37.797070
255405,345980,20191231,2019.0,INDL,C,D,STD,WISH,CONTEXTLOGIC INC,USD,A,"One Sansome Street, 40th Floor",94104-4418,San Francisco,12,2019,-122.401955,37.797070

In [64]:
df1 = Companies[Companies['tic'].isna()]
df1

,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,tic,conm,curcd,costat,add1,addzip,city,fyrc,cyear,longitude,latitude
50354,16134,20111231,2011.0,INDL,C,D,STD,NaN,NORTHWEST INTL HLTH PRP REIT,CAD,I,"284 King Street East, Suite 100",M5A 1K4,Toronto,12,2011,-75.670227,44.598985
50355,16134,20121231,2012.0,INDL,C,D,STD,NaN,NORTHWEST INTL HLTH PRP REIT,CAD,I,"284 King Street East, Suite 100",M5A 1K4,Toronto,12,2012,-75.670227,44.598985
50356,16134,20131231,2013.0,INDL,C,D,STD,NaN,NORTHWEST INTL HLTH PRP REIT,CAD,I,"284 King Street East, Suite 100",M5A 1K4,Toronto,12,2013,-75.670227,44.598985
50357,16134,20141231,2014.0,INDL,C,D,STD,NaN,NORTHWEST INTL HLTH PRP REIT,CAD,I,"284 King Street East, Suite 100",M5A 1K4,Toronto,12,2014,-75.670227,44.598985
50358,18647,20131231,2013.0,INDL,C,D,STD,NaN,PURPOSE TOTAL RETURN BOND FD,CAD,A,"1881 Yonge Street, Suite 704",M4S 3C4,Toronto,12,2013,-75.670227,44.598985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50501,183188,20181231,2018.0,INDL,C,D,STD,NaN,HORIZONS NYMEX CRUDE OIL ETF,CAD,A,"55 University Avenue, Suite 800",M5J 2H7,Toronto,12,2018,-75.670227,44.598985
50502,183188,20191231,2019.0,INDL,C,D,STD,NaN,HORIZONS NYMEX CRUDE OIL ETF,CAD,A,"55 University Avenue, Suite 800",M5J 2H7,Toronto,12,2019,-75.670227,44.598985
50503,183188,20201231,2020.0,INDL,C,D,STD,NaN,HORIZONS NYMEX CRUDE OIL ETF,CAD,A,"55 University Avenue, Suite 800",M5J 2H7,Toronto,12,2020,-75.670227,44.598985
50504,184982,20081231,2008.0,INDL,C,D,STD,NaN,CORSAIR COMPONENTS INC -REDH,USD,I,47100 Bayside Parkway,94538,Fremont,12,2008,-75.670227,44.598985
50505,184982,20091231,2009.0,INDL,C,D,STD,NaN,CORSAIR COMPONENTS INC -REDH,USD,I,47100 Bayside Parkway,94538,Fremont,12,2009,-75.670227,44.598985

In [68]:
#trying GoogleMap api
import requests
api_key= 'AIzaSyB-u5un5f7s8EbUmyCGdH9DwdKuEkc1BU0'
address = '301 S. COLLEGE STREET'
params = {
    'key': api_key,
    'address': address
}
base_url = 'https://maps.googleapis.com/maps/api/geocode/json' 
response = requests.get(base_url,params = params).json()
response.keys()

dict_keys(['results', 'status'])

In [69]:
if response['status']== 'OK':
    geometry = response['results'][0]['geometry']
    lat = geometry['location']['lat']
    lng = geometry['location']['lng']
print(lat,lng)

35.2246625 -80.84427289999999